body
{
    padding: 50px;
    margin: 20px;
    font-family:monospace;
    text-align: center;
    background-image:url(img/jp.jpg)
}
h1{
    font-size:15em;
    color: blue;
    text-align: center;
    margin: 70px 70px
}
a{
font-size: 8em;
margin: 30px 15px;   
}
