body{
    margin:0;
    padding: 0;
}

div{
    width: 200px;
    height: 200px;
    position: absolute;
   
}
.uno{
    left: 0;
    
}
.dos{
   right: 100px;
   top:0px;
}
.tres{
  left: 0;
bottom: 100px
}
.cuatro{
    right: 100px;
    bottom: 100px;
}



div:nth-child(1){background:#ee3e64}
div:nth-child(2){background:#44accf}
div:nth-child(3){background:#b7d84b}
div:nth-child(4){background:yellow}