body{
    margin:0;
    padding: 0;
}

div{
    width: 200px;
    height: 200px;
    position: static;    
}

div:nth-child(1){background:#ee3e64}
div:nth-child(2){background:#44accf}
div:nth-child(3){background:#b7d84b}